html, body {
	width: 100%;
	height: 100% !important;
	background: #cecece !important;
	padding: 0 !important;
	margin: 0 !important;
	font-family: Verdana !important;
	font-size: 12px !important;
	min-height: 670px !important;
	min-width: 965px !important;
}

body {
	min-width: 965px !important;
}

.clear {
	clear: both;
}

.container {
	min-height: 100%;
	height: 100%;
	position: relative;
}

.content-body {
	background: #ffffff;
	margin: 0 auto;
}

.section-frame {
	width: 100%;
	height: 100%;
	border: 0;
}

.menu-tree .x-panel-header {
	background: url('../images/panel-title-background.jpg') repeat-x;
	border: none;
}

.menu-tree .x-panel-header .x-box-inner {
	background: url('../images/menu-tree-icon.png') no-repeat;
	height: 22px !important;
}

.menu-tree .x-panel-header-text {
	color: #ffffff;
	font-size: 18px;
	font-weight: normal;
	font-family: verdana;
	padding-left: 25px;
}

.menu-tree .x-panel-body {
	background: #ffefe2;
}

.x-tree-icon-leaf {
	width: 13px;
	background-image: url('../themes/images/custom/tree/leaf.png')
}

.x-tree-panel .x-grid-row .x-grid-cell-inner {
	height: 18px;
	line-height: 12px;
	vertical-align: middle;
	cursor: pointer;
	font-size: 11px;
	color: #242424;
	font-family: verdana;
}

.x-tree-panel .x-grid-row .x-grid-cell-inner a {
	text-decoration: none;
}

.x-tree-panel .x-grid-row .x-grid-cell-inner a:hover {
	text-decoration: underline;
}

.x-tree-panel .x-grid-row .x-grid-cell-inner a {
	color: #242424;
}